{% extends "layout_admin.html" %}
{% load static %}
{% block title %}Programas{% endblock %}
{% block content %}
{% comment Content %} Begin Page Content {% endcomment %}
    <div class="container-fluid">
        {% comment Content %} Page Heading {% endcomment %}
        <div class="heading-block">
            <div class="form-group row">
                <div class="col-sm-6">
                    <h1 class="h3 mb-2 text-gray-800">Programas</h1>
                </div>
                <div class="col-sm-6 text-sm-end">
                    <a href="{% url "category-subcategory" %}" class="btn btn-success">Agregar Programa</a>
                </div>
            </div>
            {% if messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>

        <div class="row mb-4">
            <div class="col-sm-12">
                <form method="GET" action="{% url 'category' %}">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="Buscar programa..." value="{{ query }}">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

        {% comment Info %} DataTales {% endcomment %}
        <div class="card shadow mb-6">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ver Actividad</th>
                                <th>Agregar una actividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categoria %}
                                <tr>
                                    <td>{{ categoria.nombre }}</td>
                                    <td>
                                        <a href="{% url "subcategory-view" categoria.id %}" class="text-black">
                                            <i class="fa-solid fa-eye"></i> 
                                        </a>                                        
                                    </td>
                                    <td>
                                        <a href="{% url "subcategory" categoria.id %}" class="text-black">
                                            <i class="fa-solid fa-square-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="3" class="text-center">No se encontraron programas.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination-container text-center">
                    <span class="d-inline-block">
                        {% if page_obj.has_previous %}
                            <a href="?page=1&q={{ query }}" class="btn btn-secondary">Primera</a>
                            <a href="?page={{ page_obj.previous_page_number }}&q={{ query }}" class="btn btn-secondary">Anterior</a>
                        {% endif %}
    
                        <span class="d-inline-block">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&q={{ query }}" class="btn btn-secondary">Siguiente</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}" class="btn btn-secondary">Última</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% comment Content %} Ending Page Content {% endcomment %}
{% endblock %}